:root {  
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 30);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: aliceblue;
}
